{% extends "base.html" %}

{% block title %}Sobre Nosotros | Taller Apps{% endblock %}

{% block contenido %}
<div class="absolute top-8 left-8">
    <a href="/" class="flex items-center gap-2 text-slate-500 hover:text-primary transition-colors font-bold text-xs uppercase tracking-widest">
        <iconify-icon icon="solar:alt-arrow-left-bold-duotone" class="text-2xl"></iconify-icon>
        Volver
    </a>
</div>

<header class="mb-12 mt-4 text-center">
    <h1 class="text-4xl font-black text-slate-900 dark:text-white mb-4">Nuestro <span class="text-primary">Equipo</span></h1>
    <p class="text-slate-500 dark:text-slate-400 font-medium italic">Docente e integrante del taller</p>
</header>

<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="p-8 bg-slate-50 dark:bg-slate-800/50 rounded-[2rem] text-center border border-transparent hover:border-primary/30 transition-all shadow-sm">
        <img src="https://robohash.org/algo11?set=set4" class="w-24 h-24 mx-auto mb-4 bg-white rounded-full border-4 border-white shadow-md">
        <h3 class="font-bold text-slate-800 dark:text-slate-100 italic">Ing. Ximena Añaguaya</h3>
        <p class="text-[10px] text-primary font-black uppercase tracking-widest mt-1">Docente Guía</p>
    </div>

    <div class="p-8 bg-slate-50 dark:bg-slate-800/50 rounded-[2rem] text-center border border-transparent hover:border-primary/30 transition-all shadow-sm">
        <img src="https://robohash.org/algo1?set=set4" class="w-24 h-24 mx-auto mb-4 bg-white rounded-full border-4 border-white shadow-md">
        <h3 class="font-bold text-slate-800 dark:text-slate-100">Fernando</h3>
        <p class="text-[10px] text-primary font-black uppercase tracking-widest mt-1">Estudiante Dev</p>
    </div>
</div>
{% endblock %}